# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Build outputs
.next
.turbo
dist
build
*.tsbuildinfo

# Misc
.DS_Store
*.pem
.env*.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Turborepo
.turbo